# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection (MongoDB Atlas Connection String)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<database_name>?retryWrites=true&w=majority

# Client Configuration
CLIENT_URL=http://localhost:5173

# Authentication Secrets
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d
